---
title: Aplicações - Box com colunas
menu_page: sidebar-aplicacoes.erb
---

<article class="text">
  <header>
    <h1>Boxes selecionável</h1>
    <h3>Box com variações de layout que exibe informações ao ser selecionado.</h3>
  </header>
  <p>Esse elemento utiliza dos grids pra ter sua largura, conforme o exemplo abaixo.</p>

<div class="collapsedRadios">
  <header class="boxOption row">
    <div class="span3" data-checked="true">
      <label class="boxOptionLabel" >
        <input type="radio" class="boxOptionChecked" data-element="true" data-target="#box1" data-toggle="collapse" name="option">
        <img src="http://assets.locaweb.com.br/locastyle/1.2.27/images/bd/logo-postgre-mini.png" alt="">
        <span class="boxOptionInfo">
          <span class="boxOptionTitle">CentOS</span>
          <small>Pequena descrição</small>
        </span>
      </label>
    </div>
    <div class="span3" data-checked="true">
      <label class="boxOptionLabel" >
        <input type="radio" class="boxOptionChecked" data-element="true" data-target="#box2" data-toggle="collapse" name="option">
        <img src="http://assets.locaweb.com.br/locastyle/1.2.22/images/bd/logo-sqlserver-mini.png" alt="">
        <span class="boxOptionInfo">
          <span class="boxOptionTitle">Debian</span>
          <small>Pequena descrição</small>
        </span>
      </label>
    </div>
    <div class="span3" data-checked="true">
      <label class="boxOptionLabel" >
        <input type="radio" class="boxOptionChecked" data-element="true" checked="checked" data-target="#box3" data-toggle="collapse" name="option">
        <img src="http://assets.locaweb.com.br/locastyle/1.2.22/images/bd/logo-sqlserver-mini.png" alt="">
        <span class="boxOptionInfo">
          <span class="boxOptionTitle">Debian</span>
          <small>Pequena descrição</small>
        </span>
      </label>
    </div>
  </header>
  <div id="box1" class="collapse">
    <div class="boxDinamicArrow">Primeiro conteúdo</div>
  </div>
  <div id="box2" class="collapse">
    <div class="boxDinamicArrow">Segundo conteúdo</div>
  </div>
  <div id="box3" class="collapse">
    <div class="boxDinamicArrow">Terceiro conteúdo</div>
  </div>
</div>

<br><br>
<pre class="lang-html prettyprint linenums">
&lt;div class="collapsedRadios"&gt;
  &lt;header class="boxOption row"&gt;
    &lt;div class="span3" data-checked="true"&gt;
      &lt;label class="boxOptionLabel" &gt;
        &lt;input type="radio" class="boxOptionChecked" data-element="true" data-target="#box1" data-toggle="collapse" name="option"&gt;
        &lt;img src="http://assets.locaweb.com.br/locastyle/1.2.27/images/bd/logo-postgre-mini.png" alt=""&gt;
        &lt;span class="boxOptionInfo"&gt;
          &lt;span class="boxOptionTitle"&gt;CentOS&lt;/span&gt;
          &lt;small&gt;Pequena descrição&lt;/small&gt;
        &lt;/span&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="span3" data-checked="true"&gt;
      &lt;label class="boxOptionLabel" &gt;
        &lt;input type="radio" class="boxOptionChecked" data-element="true" data-target="#box2" data-toggle="collapse" name="option"&gt;
        &lt;img src="http://assets.locaweb.com.br/locastyle/1.2.22/images/bd/logo-sqlserver-mini.png" alt=""&gt;
        &lt;span class="boxOptionInfo"&gt;
          &lt;span class="boxOptionTitle"&gt;Debian&lt;/span&gt;
          &lt;small&gt;Pequena descrição&lt;/small&gt;
        &lt;/span&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="span3" data-checked="true"&gt;
      &lt;label class="boxOptionLabel" &gt;
        &lt;input type="radio" class="boxOptionChecked" data-element="true" checked="checked" data-target="#box3" data-toggle="collapse" name="option"&gt;
        &lt;img src="http://assets.locaweb.com.br/locastyle/1.2.22/images/bd/logo-sqlserver-mini.png" alt=""&gt;
        &lt;span class="boxOptionInfo"&gt;
          &lt;span class="boxOptionTitle"&gt;Debian&lt;/span&gt;
          &lt;small&gt;Pequena descrição&lt;/small&gt;
        &lt;/span&gt;
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/header&gt;
  &lt;div id="box1" class="collapse"&gt;
    &lt;div class="boxDinamicArrow"&gt;Primeiro conteúdo&lt;/div&gt;
  &lt;/div&gt;
  &lt;div id="box2" class="collapse"&gt;
    &lt;div class="boxDinamicArrow"&gt;Segundo conteúdo&lt;/div&gt;
  &lt;/div&gt;
  &lt;div id="box3" class="collapse"&gt;
    &lt;div class="boxDinamicArrow"&gt;Terceiro conteúdo&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

<h2>Box selecionável simples</h2>
<p>O exemplo abaixo também utiliza os grids, porém não exibe nenhum conteúdo.</p>

<div class="boxOption row">
  <div class="span12">
    <label>
      <input type="radio" name="option2">
      <img src="http://assets.locaweb.com.br/locastyle/1.2.27/images/bd/logo-postgre-mini.png" alt="logo postgres">
      <span class="boxOptionInfo">
        <span class="boxOptionTitle">Título 1</span>
        <p>Imagem do servidor <strong>cpro00012</strong> | descrição do servidor <br>
        Gerado em 13/05/2015</p>
      </span>
    </label>
  </div>
  <div class="span12">
    <label>
      <input type="radio" name="option2">
      <img src="http://assets.locaweb.com.br/locastyle/1.2.22/images/bd/logo-sqlserver-mini.png" alt="logo sqlserver">
      <span class="boxOptionInfo">
        <span class="boxOptionTitle">Título 2</span>
        Imagem do servidor <strong>cpro00047</strong> <br>Gerado em 13/05/2015
      </span>
    </label>
  </div>
</div>

<pre class="lang-html prettyprint linenums">
&lt;div class="boxOption row"&gt;
  &lt;div class="span12"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="option2"&gt;
      &lt;img src="http://assets.locaweb.com.br/locastyle/1.2.27/images/bd/logo-postgre-mini.png" alt="logo postgres"&gt;
      &lt;span class="boxOptionInfo"&gt;
        &lt;span class="boxOptionTitle"&gt;Título 1&lt;/span&gt;
        &lt;p&gt;Imagem do servidor &lt;strong&gt;cpro00012&lt;/strong&gt; | descrição do servidor &lt;br&gt;
        Gerado em 13/05/2015&lt;/p&gt;
      &lt;/span&gt;
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class="span12"&gt;
    &lt;label&gt;
      &lt;input type="radio" name="option2"&gt;
      &lt;img src="http://assets.locaweb.com.br/locastyle/1.2.22/images/bd/logo-sqlserver-mini.png" alt="logo sqlserver"&gt;
      &lt;span class="boxOptionInfo"&gt;
        &lt;span class="boxOptionTitle"&gt;Título 2&lt;/span&gt;
        Imagem do servidor &lt;strong&gt;cpro00047&lt;/strong&gt; &lt;br&gt;Gerado em 13/05/2015
      &lt;/span&gt;
    &lt;/label&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

</article>
