<div class="switch-btn">
	<a href="#">
		<input type="checkbox" checked id="switch2">
		<label class="switch-label" for="switch2" name="label-switch2" data-off="Desativado" data-on="Ativado"><span></span></label>
	</a>
</div>